{{ define "content" }}
<div class="main-container container">
    <div class="row">
        <div class="col-12 col-md-9 mb-1">

            <div class="card mb-3">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    {{ range $key, $value := .BookList.Books }}
                    <li class="list-group-item list-group-item-action"><a href="/books/{{ $value.Id }}">{{ $value.Name }}</a></li>
                    {{ end }}
                </ul>
            </div>


            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item {{if not .Page.HasPrevious}} disabled {{end}}"><a class="page-link" href="/books/list/1/{{.Page.Previous}}">上一页</a></li>
                        {{range .Page.Pages }}
                            {{if eq .Num -1}}
                            ...
                            {{else}}
                            <li class="page-item {{if .IsCurrent }} active {{end}} "><a class="page-link" href="/books/list/1/{{.Num}}">{{.Num}}</a></li>
                            {{end}}
                        {{end}}
                        <li class="page-item {{if not .Page.HasNext}} disabled {{end}}"><a class="page-link" href="/books/list/1/{{.Page.Next}}">下一页</a></li>
                    </ul>
                </nav>

            </div>
        </div>
        <!--end of col-->
        <div class="col-12 col-md-3 mb-1">
            <div class="card">
                <div class="card-header">
                    分类
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action">
                        <div>
                            <a href="#">分类1</a>
                        </div>
                        <div>
                            <i class="icon-chevron-right"></i>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <div>
                            <a href="#">分类2</a>
                        </div>
                        <div>
                            <i class="icon-chevron-right"></i>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <!--end of col-->
    </div>
    <!--end of row-->
</div>
<!--end of container-->
{{ end}}

{{ define "head" }}
<link type="text/css" rel="stylesheet" href="/assets/css/list.css"/>
<script src="/assets/js/list.js"></script>
{{ end}}