{{ define "pages/detail.html" }}{{ end }}
{{ template "layout.html" . }}


{{ define "content" }}
<div class="main-container container">
    <div class="row justify-content-between">
        <div class="col-12 col-md-8 col-lg-8">

            <div class="card">
                <div class="card-body">
                    <article>
                        <h2>标题.</h2>
                        <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1 <br/>
                        1
                    </article>
                </div>
            </div>


        </div>
        <!--end of col-->
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <span class="h6">最近更新</span>
                        <span class="badge bg-secondary">6</span>
                    </div>
                    <a href="#">View all ›</a>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled list-spacing-sm">
                        <li>
                            <i class="icon-text-document text-muted mr-1"></i>
                            <a href="#">测试</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of col-->
    </div>
    <!--end of row-->
</div>
<!--end of container-->
{{ end}}

{{ define "head" }}
<link type="text/css" rel="stylesheet" href="/statics/css/detail.css"/>
<script src="/statics/js/detail.js"></script>
{{ end}}