{{ define "home/index.tmpl" }}
{{ template "layout.tmpl" . }}
{{ end }}

{{ define "content" }}
index
{{ end}}

{{ define "head" }}
    <link type="text/css" rel="stylesheet" href="/statics/css/index.css" />
    <script src="/statics/js/index.js"></script>
{{ end}}